body {
  font-family: Inter;
}
.display-1 {
  font-family: 'Unbounded', cursive;
  font-size: 6.8rem;
  line-height: 1.15;
}
.display-1 > .mbr-iconfont {
  font-size: 8.5rem;
}
.display-2 {
  font-family: 'Unbounded', cursive;
  font-size: 4.125rem;
  line-height: 1.15;
}
.display-2 > .mbr-iconfont {
  font-size: 5.15625rem;
}
.display-4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-5 {
  font-family: 'Unbounded', cursive;
  font-size: 2.5rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.40625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.44rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.76rem;
    font-size: calc( 3.03rem + (6.8 - 3.03) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.03rem + (6.8 - 3.03) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.3rem;
    font-size: calc( 2.09375rem + (4.125 - 2.09375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.09375rem + (4.125 - 2.09375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #fc7942 !important;
}
.bg-success {
  background-color: #a6b1d8 !important;
}
.bg-info {
  background-color: #5189b8 !important;
}
.bg-warning {
  background-color: #f5db6e !important;
}
.bg-danger {
  background-color: #b63b07 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fc7942 !important;
  border: 2px solid #131313 !important;
  color: #131313 !important;
  box-shadow: 4px 4px 0 #131313 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #131313 !important;
  background-color: #fc7942 !important;
  border: 2px solid #131313 !important;
  box-shadow: none !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #131313 !important;
  background-color: #e44604 !important;
  border-color: #e44604 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #a6d8b5 !important;
  border: 2px solid #131313 !important;
  color: #131313 !important;
  box-shadow: 4px 4px 0 #131313 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #131313 !important;
  background-color: #a6d8b5 !important;
  border: 2px solid #131313 !important;
  box-shadow: none !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #131313 !important;
  background-color: #6abe83 !important;
  border-color: #6abe83 !important;
}
.btn-info,
.btn-info:active {
  background-color: #5189b8 !important;
  border: 2px solid #131313 !important;
  color: #131313 !important;
  box-shadow: 4px 4px 0 #131313 !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #131313 !important;
  background-color: #5189b8 !important;
  border: 2px solid #131313 !important;
  box-shadow: none !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #131313 !important;
  background-color: #345c7f !important;
  border-color: #345c7f !important;
}
.btn-success,
.btn-success:active {
  background-color: #a6b1d8 !important;
  border: 2px solid #131313 !important;
  color: #131313 !important;
  box-shadow: 4px 4px 0 #131313 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #131313 !important;
  background-color: #a6b1d8 !important;
  border: 2px solid #131313 !important;
  box-shadow: none !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #131313 !important;
  background-color: #6a7cbe !important;
  border-color: #6a7cbe !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #f5db6e !important;
  border: 2px solid #131313 !important;
  color: #131313 !important;
  box-shadow: 4px 4px 0 #131313 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #131313 !important;
  background-color: #f5db6e !important;
  border: 2px solid #131313 !important;
  box-shadow: none !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #131313 !important;
  background-color: #efc71d !important;
  border-color: #efc71d !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b63b07 !important;
  border: 2px solid #131313 !important;
  color: #131313 !important;
  box-shadow: 4px 4px 0 #131313 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #131313 !important;
  background-color: #b63b07 !important;
  border: 2px solid #131313 !important;
  box-shadow: none !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #131313 !important;
  background-color: #632004 !important;
  border-color: #632004 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border: 2px solid #131313 !important;
  color: #131313 !important;
  box-shadow: 4px 4px 0 #131313 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #131313 !important;
  background-color: #ffffff !important;
  border: 2px solid #131313 !important;
  box-shadow: none !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #131313 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active {
  background-color: #131313 !important;
  border: 2px solid #131313 !important;
  color: #131313 !important;
  box-shadow: 4px 4px 0 #131313 !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #131313 !important;
  background-color: #131313 !important;
  border: 2px solid #131313 !important;
  box-shadow: none !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #131313 !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fc7942;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #e44604 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #fc7942 !important;
  border-color: #fc7942 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #a6d8b5;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #6abe83 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #275836 !important;
  background-color: #a6d8b5 !important;
  border-color: #a6d8b5 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #5189b8;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #345c7f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #5189b8 !important;
  border-color: #5189b8 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #a6b1d8;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #6a7cbe !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #a6b1d8 !important;
  border-color: #a6b1d8 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f5db6e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #efc71d !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #5e4d06 !important;
  background-color: #f5db6e !important;
  border-color: #f5db6e !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b63b07;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #632004 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b63b07 !important;
  border-color: #b63b07 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #131313;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #131313 !important;
  border-color: #131313 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.text-primary {
  color: #fc7942 !important;
}
.text-secondary {
  color: #a6d8b5 !important;
}
.text-success {
  color: #a6b1d8 !important;
}
.text-info {
  color: #5189b8 !important;
}
.text-warning {
  color: #f5db6e !important;
}
.text-danger {
  color: #b63b07 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #131313 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #d54103 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #5fb97a !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #5f73b9 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #2f5474 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #edc210 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #541b03 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #cccccc !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #fc7942;
}
.nav-tabs .nav-link:not(.active) {
  color: #131313;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #5189b8;
}
.alert-warning {
  background-color: #f5db6e;
}
.alert-danger {
  background-color: #b63b07;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fc7942;
  border-color: #fc7942;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #fc7942;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #acc6dd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #f87a45;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #fc7942 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.875rem;
}
blockquote {
  border-color: #fc7942;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fc7942;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #fc7942;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fc7942;
  border-bottom-color: #fc7942;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #fc7942 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #a6d8b5 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23fc7942' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: .3s all;
  font-weight: 600 !important;
}
a:hover {
  background-image: none !important;
}
.container {
  max-width: 1440px;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 1600px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}
.container-small {
  max-width: 1480px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  word-wrap: break-word;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1500px) {
  .container-small {
    max-width: 1180px;
  }
}
@media (max-width: 1024px) {
  .container-small {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 991px) {
  .container-small {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 767px) {
  .container-small {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.container-fluid {
  max-width: 1724px;
  padding-left: 12px;
  padding-right: 12px;
}
.row {
  margin-left: -12px;
  margin-right: -12px;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 12px;
  padding-right: 12px;
}
b,
strong {
  font-weight: 600 !important;
}
.mbr-section-btn .btn {
  position: relative;
  min-width: 100px;
  min-height: 68px;
  padding: 20px 44px;
  border-radius: 0;
  font-weight: 600 !important;
  transition: all .3s;
}
@media (max-width: 1199px) {
  .mbr-section-btn .btn {
    padding: 20px 30px;
  }
}
@media (max-width: 767px) {
  .mbr-section-btn .btn {
    padding: 15px 20px;
  }
}
.mbr-section-btn .btn-black {
  color: #FFFFFF !important;
  border: 2px solid #FFFFFF !important;
  box-shadow: 4px 4px 0 #FFFFFF !important;
}
.mbr-section-btn .btn-black:hover {
  box-shadow: none !important;
}
.cid-tBocOvocla {
  z-index: 1000;
  width: 100%;
}
.cid-tBocOvocla nav.navbar {
  position: fixed;
}
.cid-tBocOvocla .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tBocOvocla .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tBocOvocla .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tBocOvocla .dropdown-item:hover,
.cid-tBocOvocla .dropdown-item:focus {
  background: #fc7942 !important;
  color: white !important;
}
.cid-tBocOvocla .dropdown-item:hover span {
  color: white;
}
.cid-tBocOvocla .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tBocOvocla .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tBocOvocla .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tBocOvocla .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tBocOvocla .nav-link {
  position: relative;
}
.cid-tBocOvocla .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tBocOvocla .container {
    flex-wrap: nowrap;
  }
}
.cid-tBocOvocla .navbar-nav {
  margin: 0 auto;
}
.cid-tBocOvocla .dropdown-menu,
.cid-tBocOvocla .navbar.opened {
  background: #ffffff !important;
}
.cid-tBocOvocla .nav-item:focus,
.cid-tBocOvocla .nav-link:focus {
  outline: none;
}
.cid-tBocOvocla .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tBocOvocla .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tBocOvocla .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tBocOvocla .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tBocOvocla .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tBocOvocla .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tBocOvocla .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0);
  border: none !important;
  box-shadow: none !important;
  overflow: hidden;
}
.cid-tBocOvocla .navbar.opened {
  transition: all 0.3s;
}
.cid-tBocOvocla .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tBocOvocla .navbar .navbar-logo img {
  width: auto;
}
.cid-tBocOvocla .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tBocOvocla .navbar.collapsed {
  justify-content: center;
}
.cid-tBocOvocla .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tBocOvocla .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tBocOvocla .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tBocOvocla .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tBocOvocla .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tBocOvocla .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tBocOvocla .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-tBocOvocla .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tBocOvocla .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tBocOvocla .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tBocOvocla .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tBocOvocla .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tBocOvocla .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tBocOvocla .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tBocOvocla .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tBocOvocla .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tBocOvocla .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tBocOvocla .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tBocOvocla .navbar.navbar-short {
  min-height: 60px;
}
.cid-tBocOvocla .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tBocOvocla .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tBocOvocla .navbar-brand {
  min-height: 108px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tBocOvocla .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tBocOvocla .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tBocOvocla .dropdown-item.active,
.cid-tBocOvocla .dropdown-item:active {
  background-color: transparent;
}
.cid-tBocOvocla .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tBocOvocla .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tBocOvocla .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tBocOvocla .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tBocOvocla .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tBocOvocla .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tBocOvocla ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tBocOvocla .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tBocOvocla button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tBocOvocla button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #131313;
}
.cid-tBocOvocla button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tBocOvocla button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tBocOvocla button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tBocOvocla button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tBocOvocla nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tBocOvocla nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tBocOvocla nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tBocOvocla nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tBocOvocla .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tBocOvocla a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tBocOvocla .navbar {
    height: 70px;
  }
  .cid-tBocOvocla .navbar.opened {
    height: auto;
  }
  .cid-tBocOvocla .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tBocOvocla .container,
.cid-tBocOvocla .container-fluid {
  position: relative;
  min-height: 108px;
}
@media (min-width: 992px) {
  .cid-tBocOvocla .container:before,
  .cid-tBocOvocla .container-fluid:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #131313;
  }
}
.cid-tBocOvocla .navbar-short {
  background-color: #ffffff !important;
}
.cid-tBocOvocla .navbar-short .container,
.cid-tBocOvocla .navbar-short .container-fluid {
  min-height: 85px;
}
.cid-tBocOvocla .navbar-short .container:before,
.cid-tBocOvocla .navbar-short .container-fluid:before {
  display: none;
}
.cid-tBocOvocla .navbar-short .navbar-brand {
  min-height: 85px !important;
}
.cid-tBocOvocla .mbr-section-btn .btn {
  padding: 10px 25px;
  min-height: 48px;
}
.cid-tBocOvocla .border-item {
  position: absolute;
  bottom: -1px;
  display: none;
  width: 100%;
  background-color: transparent;
  height: 2px;
  background-color: #131313;
}
@media (max-width: 991px) {
  .cid-tBocOvocla .border-item {
    display: block;
  }
}
@media (max-width: 991px) {
  .cid-tBocOvocla .container,
  .cid-tBocOvocla .container-fluid {
    min-height: 85px;
  }
  .cid-tBocOvocla .navbar-brand {
    min-height: 85px;
  }
  .cid-tBocOvocla .navbar-short .container,
  .cid-tBocOvocla .navbar-short .container-fluid {
    min-height: 75px;
  }
  .cid-tBocOvocla .navbar-short .navbar-brand {
    min-height: 75px !important;
  }
  .cid-tBocOvocla .navbar.opened {
    background: rgba(255, 255, 255, 0) !important;
  }
  .cid-tBocOvocla .navbar.navbar-short {
    background-color: #ffffff !important;
  }
  .cid-tBocOvocla .navbar-collapse {
    position: relative;
    order: 5;
    z-index: 5 !important;
    padding-bottom: 10px;
  }
  .cid-tBocOvocla .navbar-nav .nav-item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .cid-tBocOvocla .mbr-section-btn {
    text-align: left;
  }
  .cid-tBocOvocla .border-item {
    position: relative;
    bottom: 0;
    margin-top: auto;
  }
  .cid-tBocOvocla .border-item:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100vw;
    height: 100vw;
    background: #ffffff;
    z-index: 4;
    transition: 0.1s all;
  }
}
.cid-tBocYSVu1K {
  background-color: #a6b1d8;
}
.cid-tBocYSVu1K .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBocYSVu1K .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBocYSVu1K .mbr-section-title {
  color: #131313;
  text-align: center;
}
.cid-tBocYSVu1K .mbr-section-subtitle {
  margin-top: 30px;
  color: #131313;
}
@media (max-width: 767px) {
  .cid-tBocYSVu1K .mbr-section-subtitle {
    margin-top: 18px;
  }
}
.cid-tBocYSVu1K .mbr-text {
  margin-top: 30px;
  color: #131313;
}
@media (max-width: 767px) {
  .cid-tBocYSVu1K .mbr-text {
    margin-top: 18px;
  }
}
.cid-tBocYSVu1K .mbr-section-btn {
  margin-top: 60px;
}
@media (max-width: 991px) {
  .cid-tBocYSVu1K .mbr-section-btn {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .cid-tBocYSVu1K .mbr-section-btn {
    margin-top: 20px;
  }
}
.cid-tBocYSVu1K .mbr-text,
.cid-tBocYSVu1K .mbr-section-btn {
  text-align: center;
}
.cid-tBodlClnY9 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBodlClnY9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBodlClnY9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBodlClnY9 .row {
  margin: 0 !important;
  row-gap: 40px;
}
.cid-tBodlClnY9 .item-img {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding: 0 !important;
}
.cid-tBodlClnY9 .item-img img {
  max-width: 580px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-tBodlClnY9 .item-img {
    width: 100%;
  }
}
.cid-tBodlClnY9 .item-content {
  width: 50%;
  padding: 0 !important;
}
@media (max-width: 1500px) {
  .cid-tBodlClnY9 .item-content {
    padding-left: 40px !important;
  }
}
@media (max-width: 1199px) {
  .cid-tBodlClnY9 .item-content {
    padding-left: 25px !important;
  }
}
@media (max-width: 991px) {
  .cid-tBodlClnY9 .item-content {
    width: 100%;
    padding: 0 !important;
  }
}
.cid-tBodlClnY9 .card-title {
  color: #131313;
}
.cid-tBodlClnY9 .card-text {
  margin-top: 25px;
  color: #131313;
}
.cid-tBodlClnY9 .list-box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  width: 100%;
  margin-top: 30px;
}
.cid-tBodlClnY9 .list-item {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 12px;
}
.cid-tBodlClnY9 .iconfont-wrapper {
  flex-shrink: 0;
}
.cid-tBodlClnY9 .iconfont-wrapper .mbr-iconfont {
  display: block;
  font-size: 25px;
  color: #fc7942;
  transform: rotate(-45deg);
}
.cid-tBodlClnY9 .list-text {
  flex-grow: 1;
  color: #131313;
}
.cid-tBodlClnY9 .mbr-section-btn {
  margin-top: 40px;
}
@media (max-width: 1500px) {
  .cid-tBodlClnY9 .mbr-section-btn {
    margin-top: 15px;
  }
}
.cid-tBodUel9DN {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #a6b1d8;
}
.cid-tBodUel9DN .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBodUel9DN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBodUel9DN .mbr-section-head {
  margin-bottom: 70px;
}
@media (max-width: 1399px) {
  .cid-tBodUel9DN .mbr-section-head {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .cid-tBodUel9DN .mbr-section-head {
    margin-bottom: 30px;
  }
}
.cid-tBodUel9DN .mbr-section-title {
  color: #131313;
}
.cid-tBodUel9DN .mbr-section-subtitle {
  margin-top: 18px;
  color: #131313;
}
.cid-tBodUel9DN .cards-row {
  margin-top: 5px;
  row-gap: 30px;
}
.cid-tBodUel9DN .card {
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-radius: 0;
}
.cid-tBodUel9DN .card-wrapper {
  width: calc(100% - 14px);
  padding: 80px 40px 60px 40px;
  margin: 0 auto;
  border: 2px solid #131313;
  box-shadow: 4px 4px 0 #131313;
  background: #ffffff;
  transition: .3s all;
}
@media (max-width: 1199px) {
  .cid-tBodUel9DN .card-wrapper {
    padding: 40px 30px;
  }
}
@media (min-width: 992px) {
  .cid-tBodUel9DN .card-wrapper:hover {
    box-shadow: none;
    transform: translateY(-5px);
  }
}
.cid-tBodUel9DN .iconfont-wrapper {
  margin-bottom: 60px;
}
@media (max-width: 1199px) {
  .cid-tBodUel9DN .iconfont-wrapper {
    margin-bottom: 25px;
  }
}
.cid-tBodUel9DN .iconfont-wrapper .mbr-iconfont {
  display: block;
  font-size: 100px;
  color: #a6b1d8;
}
.cid-tBodUel9DN .card-title {
  color: #131313;
}
.cid-tBodUel9DN .card-text {
  margin-top: 10px;
  color: #131313;
}
.cid-tBodUel9DN .card-link {
  margin-top: 30px;
  color: #131313;
}
@media (max-width: 1199px) {
  .cid-tBodUel9DN .card-link {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .cid-tBodUel9DN .card-link {
    margin-top: 15px;
  }
}
.cid-tBodUel9DN .card-link a.text-primary:hover {
  color: #131313 !important;
}
.cid-tBoed48JSl {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBoed48JSl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBoed48JSl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBoed48JSl .mbr-section-head {
  margin-bottom: 80px;
}
@media (max-width: 1399px) {
  .cid-tBoed48JSl .mbr-section-head {
    margin-bottom: 65px;
  }
}
@media (max-width: 767px) {
  .cid-tBoed48JSl .mbr-section-head {
    margin-bottom: 30px;
  }
}
.cid-tBoed48JSl .mbr-section-title {
  color: #131313;
}
.cid-tBoed48JSl .mbr-section-subtitle {
  margin-top: 18px;
  color: #131313;
}
.cid-tBoed48JSl .cards-row {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  border-top: 2px solid #131313;
  border-bottom: 2px solid #131313;
}
.cid-tBoed48JSl .card {
  border-radius: 0;
}
.cid-tBoed48JSl .card:not(:first-child) {
  border-top: 2px solid #131313;
}
.cid-tBoed48JSl .card-wrapper {
  display: flex;
  align-items: center;
  margin: 0 -12px;
  padding: 30px 0 25px;
}
@media (max-width: 991px) {
  .cid-tBoed48JSl .card-wrapper {
    flex-direction: column;
    row-gap: 10px;
  }
}
.cid-tBoed48JSl .card-box {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 12px;
}
.cid-tBoed48JSl .image-wrapper {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin-right: 130px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .cid-tBoed48JSl .image-wrapper {
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .cid-tBoed48JSl .image-wrapper {
    margin-right: 20px;
  }
}
.cid-tBoed48JSl .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tBoed48JSl .card-title {
  color: #131313;
}
.cid-tBoed48JSl .card-subtitle {
  color: #a6b1d8;
}
.cid-tBoed48JSl .card-text {
  margin-right: 175px;
  margin-top: 5px;
  color: #131313;
}
@media (max-width: 1024px) {
  .cid-tBoed48JSl .card-text {
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .cid-tBoed48JSl .card-text {
    margin-right: 10px;
  }
}
@media (max-width: 575px) {
  .cid-tBoed48JSl .card-text {
    margin-right: 0;
  }
}
.cid-tBoed48JSl .iconfont-wrapper {
  margin-left: auto;
}
@media (max-width: 575px) {
  .cid-tBoed48JSl .iconfont-wrapper {
    display: none;
  }
}
.cid-tBoed48JSl .iconfont-wrapper .mbr-iconfont {
  display: block;
  font-size: 50px;
  color: #a6b1d8;
  transform: rotate(-45deg);
  transition: 0.3s all;
}
@media (min-width: 992px) {
  .cid-tBoed48JSl .card-wrapper:hover .iconfont-wrapper .mbr-iconfont {
    transform: rotate(0);
  }
}
.cid-tBoewEe7um {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBoewEe7um .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBoewEe7um .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBoewEe7um .mbr-section-head {
  margin-bottom: 75px;
}
@media (max-width: 1399px) {
  .cid-tBoewEe7um .mbr-section-head {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .cid-tBoewEe7um .mbr-section-head {
    margin-bottom: 30px;
  }
}
.cid-tBoewEe7um .mbr-section-title {
  color: #131313;
}
.cid-tBoewEe7um .mbr-section-subtitle {
  margin-top: 18px;
  color: #131313;
}
.cid-tBoewEe7um .cards-row {
  row-gap: 40px;
}
@media (max-width: 767px) {
  .cid-tBoewEe7um .cards-row {
    row-gap: 30px;
  }
}
.cid-tBoewEe7um .card {
  border-radius: 0;
}
.cid-tBoewEe7um .card-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 1199px) {
  .cid-tBoewEe7um .card-wrapper {
    justify-content: center;
  }
}
.cid-tBoewEe7um .card-title {
  color: #a6b1d8;
}
.cid-tBoewEe7um .card-text {
  margin-left: 15px;
  color: #131313;
}
.cid-tBoewEe7um .border-item {
  width: 100%;
  height: 2px;
  margin-top: 58px;
  background-color: #131313;
}
@media (max-width: 1399px) {
  .cid-tBoewEe7um .border-item {
    margin-top: 45px;
  }
}
@media (max-width: 767px) {
  .cid-tBoewEe7um .border-item {
    margin-top: 40px;
  }
}
.cid-tBoeK5qOAe {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBoeK5qOAe .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBoeK5qOAe .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBoeK5qOAe .container-small,
.cid-tBoeK5qOAe .container-fluid {
  padding: 0 !important;
}
.cid-tBoeK5qOAe .container-small {
  max-width: 1440px;
}
.cid-tBoeK5qOAe .text-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 20px;
  min-height: 480px;
  margin: 0 auto;
  background-color: #a6b1d8;
}
@media (max-width: 991px) {
  .cid-tBoeK5qOAe .text-box {
    min-height: 400px;
    padding: 50px 20px;
  }
}
@media (max-width: 767px) {
  .cid-tBoeK5qOAe .text-box {
    padding: 50px 10px;
  }
}
.cid-tBoeK5qOAe .mbr-section-title {
  color: #131313;
}
.cid-tBoeK5qOAe .mbr-section-subtitle {
  margin-top: 20px;
  color: #131313;
}
.cid-tBoeK5qOAe .mbr-text {
  margin-top: 44px;
  color: #131313;
}
@media (max-width: 767px) {
  .cid-tBoeK5qOAe .mbr-text {
    margin-top: 20px;
  }
}
.cid-tBoeK5qOAe .mbr-text a {
  text-decoration: underline;
}
.cid-tBoeK5qOAe .mbr-section-btn {
  margin-top: 34px;
}
.cid-tBoeQH22FL {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBoeQH22FL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBoeQH22FL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBoeQH22FL .row {
  margin: 0 !important;
  row-gap: 40px;
}
.cid-tBoeQH22FL .item-img {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding: 0 !important;
}
.cid-tBoeQH22FL .item-img img {
  max-width: 580px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-tBoeQH22FL .item-img {
    width: 100%;
  }
}
.cid-tBoeQH22FL .item-content {
  width: 50%;
  padding: 0 !important;
}
@media (max-width: 1500px) {
  .cid-tBoeQH22FL .item-content {
    padding-left: 40px !important;
  }
}
@media (max-width: 1199px) {
  .cid-tBoeQH22FL .item-content {
    padding-left: 25px !important;
  }
}
@media (max-width: 991px) {
  .cid-tBoeQH22FL .item-content {
    width: 100%;
    padding: 0 !important;
  }
}
.cid-tBoeQH22FL .card-title {
  color: #131313;
}
.cid-tBoeQH22FL .card-text {
  margin-top: 20px;
  color: #131313;
}
.cid-tBoeQH22FL .line-items-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 35px;
  width: 100%;
  margin-top: 40px;
}
@media (max-width: 1199px) {
  .cid-tBoeQH22FL .line-items-wrap {
    margin-top: 24px;
  }
}
@media (max-width: 991px) {
  .cid-tBoeQH22FL .line-items-wrap {
    margin-top: 20px;
  }
}
.cid-tBoeQH22FL .line-item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.cid-tBoeQH22FL .line-text-wrap {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 12px;
}
.cid-tBoeQH22FL .line-text {
  color: #131313;
  margin-right: auto;
  max-width: 70%;
}
.cid-tBoeQH22FL .line-number {
  color: #131313;
  margin-left: auto;
  max-width: 30%;
}
.cid-tBoeQH22FL .line {
  position: relative;
  width: 100%;
  height: 16px;
  background-color: #FFFFFF;
  border: 2px solid #131313;
  box-shadow: 4px 4px 0 #131313;
  border-radius: 0.25rem;
}
.cid-tBoeQH22FL .line-active {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #a6b1d8;
}
.cid-tBoeQH22FL .line-item-1 .line-number:before {
  content: "83";
}
.cid-tBoeQH22FL .line-item-1 .line-active {
  width: 83%;
}
.cid-tBoeQH22FL .line-item-2 .line-number:before {
  content: "83";
}
.cid-tBoeQH22FL .line-item-2 .line-active {
  width: 83%;
}
.cid-tBoeQH22FL .line-item-3 .line-number:before {
  content: "87";
}
.cid-tBoeQH22FL .line-item-3 .line-active {
  width: 87%;
}
.cid-tBoeQH22FL .mbr-section-btn {
  margin-top: 34px;
}
@media (max-width: 991px) {
  .cid-tBoeQH22FL .mbr-section-btn {
    margin-top: 14px;
  }
}
.cid-tBoeFKGI9m {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #a6b1d8;
}
.cid-tBoeFKGI9m .mbr-section-head {
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .cid-tBoeFKGI9m .mbr-section-head {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .cid-tBoeFKGI9m .mbr-section-head {
    margin-bottom: 35px;
  }
}
.cid-tBoeFKGI9m .mbr-section-title {
  color: #131313;
}
.cid-tBoeFKGI9m .mbr-section-subtitle {
  margin-top: 16px;
  color: #131313;
}
.cid-tBoeFKGI9m .items-row {
  column-gap: 120px;
}
@media (min-width: 992px) {
  .cid-tBoeFKGI9m .items-row {
    margin: 0 !important;
  }
}
.cid-tBoeFKGI9m .item {
  margin-bottom: 80px;
  width: calc(50% - 60px);
}
@media (min-width: 992px) {
  .cid-tBoeFKGI9m .item {
    padding: 0 !important;
  }
}
@media (max-width: 991px) {
  .cid-tBoeFKGI9m .item {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .cid-tBoeFKGI9m .item {
    margin-bottom: 40px;
  }
}
.cid-tBoeFKGI9m .item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.cid-tBoeFKGI9m .item-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cid-tBoeFKGI9m .item-content {
  margin-top: 40px;
}
@media (max-width: 1439px) {
  .cid-tBoeFKGI9m .item-content {
    margin-top: 20px;
  }
}
.cid-tBoeFKGI9m .item-title {
  color: #131313;
}
.cid-tBoeFKGI9m .mbr-text {
  margin-top: 14px;
  color: #131313;
}
@media (max-width: 767px) {
  .cid-tBoeFKGI9m .mbr-text {
    margin-top: 8px;
  }
}
.cid-tBoeFKGI9m .mbr-section-btn {
  margin-top: 6px;
}
@media (max-width: 767px) {
  .cid-tBoeFKGI9m .mbr-section-btn {
    margin-top: 4px;
  }
}
.cid-tBofzmKOzM {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #f5db6e;
}
.cid-tBofzmKOzM .content-container {
  overflow: hidden;
}
.cid-tBofzmKOzM .carousel,
.cid-tBofzmKOzM .carousel-inner {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-tBofzmKOzM .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-tBofzmKOzM .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-tBofzmKOzM .carousel-control {
  top: 50%;
  width: max-content;
  height: max-content;
  padding: 18px 30px 12px;
  font-size: 24px;
  background-color: transparent;
  color: #131313;
  transition: all 0.3s;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-tBofzmKOzM .carousel-control {
    padding: 18px 0 12px;
  }
}
.cid-tBofzmKOzM .carousel-control.carousel-control-prev {
  right: auto !important;
  left: 0 !important;
}
@media (max-width: 767px) {
  .cid-tBofzmKOzM .carousel-control.carousel-control-prev {
    padding-right: 30px;
  }
}
.cid-tBofzmKOzM .carousel-control.carousel-control-next {
  right: 0 !important;
  left: auto !important;
}
@media (max-width: 767px) {
  .cid-tBofzmKOzM .carousel-control.carousel-control-next {
    padding-left: 30px;
  }
}
.cid-tBofzmKOzM .item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 200px;
  width: 100%;
  padding: 0 80px;
  overflow: visible !important;
}
@media (max-width: 767px) {
  .cid-tBofzmKOzM .item-wrapper {
    padding: 0 25px;
  }
}
.cid-tBofzmKOzM .iconfont-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  min-height: 80px;
  max-width: 100%;
  width: fit-content;
  border-radius: 50%;
  margin: 0 auto 50px;
  padding: 10px;
  border: 2px solid #131313;
  box-shadow: 4px 4px 0 #131313;
  background-color: #a6b1d8;
}
@media (max-width: 991px) {
  .cid-tBofzmKOzM .iconfont-wrapper {
    margin: 0 auto 20px;
  }
}
.cid-tBofzmKOzM .iconfont-wrapper .mbr-iconfont {
  display: block;
  font-size: 36px;
  color: #131313;
}
.cid-tBofzmKOzM .carousel-caption {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  margin-bottom: 0;
  text-align: center;
  padding: 0 !important;
}
.cid-tBofzmKOzM .mbr-section-title {
  color: #131313;
  margin-bottom: 30px !important;
}
@media (max-width: 767px) {
  .cid-tBofzmKOzM .mbr-section-title {
    margin-bottom: 20px !important;
  }
}
.cid-tBofzmKOzM .mbr-section-subtitle {
  color: #131313;
  margin-bottom: 0;
}
.cid-tBofzmKOzM .carousel-inner {
  margin-bottom: 0;
  overflow: visible !important;
}
.cid-tBofzmKOzM .carousel-inner .item-menu-overlay {
  display: none !important;
  transition: 0s !important;
}
.cid-tBofzmKOzM .carousel-indicators {
  display: none !important;
}
.cid-tBofHXKj6y {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBofHXKj6y .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBofHXKj6y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBofHXKj6y .row {
  margin: 0 !important;
  row-gap: 40px;
}
.cid-tBofHXKj6y .item-img {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  padding: 0 !important;
}
.cid-tBofHXKj6y .item-img img {
  max-width: 580px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-tBofHXKj6y .item-img {
    width: 100%;
  }
}
.cid-tBofHXKj6y .item-content {
  width: 50%;
  padding: 0 !important;
}
@media (max-width: 1500px) {
  .cid-tBofHXKj6y .item-content {
    padding-left: 40px !important;
  }
}
@media (max-width: 1199px) {
  .cid-tBofHXKj6y .item-content {
    padding-left: 25px !important;
  }
}
@media (max-width: 991px) {
  .cid-tBofHXKj6y .item-content {
    width: 100%;
    padding: 0 !important;
  }
}
.cid-tBofHXKj6y .card-title {
  color: #131313;
}
.cid-tBofHXKj6y .card-text {
  margin-top: 25px;
  color: #131313;
}
.cid-tBofHXKj6y .list-box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  width: 100%;
  margin-top: 45px;
}
@media (max-width: 991px) {
  .cid-tBofHXKj6y .list-box {
    margin-top: 24px;
    row-gap: 5px;
  }
}
.cid-tBofHXKj6y .list-item {
  width: 100%;
}
.cid-tBofHXKj6y .list-text {
  color: #131313;
}
.cid-tBofHXKj6y .mbr-section-btn {
  margin-top: 40px;
}
@media (max-width: 991px) {
  .cid-tBofHXKj6y .mbr-section-btn {
    margin-top: 15px;
  }
}
.cid-tBofKABF7L {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBofKABF7L .mbr-fallback-image.disabled {
  display: none;
}
.cid-tBofKABF7L .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tBofKABF7L .row {
  margin: 0 !important;
}
.cid-tBofKABF7L .mbr-section-head {
  width: 40%;
  padding: 0 !important;
}
@media (max-width: 991px) {
  .cid-tBofKABF7L .mbr-section-head {
    width: 100%;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .cid-tBofKABF7L .mbr-section-head {
    margin-bottom: 40px;
  }
}
.cid-tBofKABF7L .mbr-section-title {
  color: #131313;
  margin-bottom: 0;
}
.cid-tBofKABF7L .mbr-section-subtitle {
  color: #131313;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .cid-tBofKABF7L .mbr-section-subtitle {
    margin-top: 10px;
  }
}
.cid-tBofKABF7L .mbr-section-btn {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .cid-tBofKABF7L .mbr-section-btn {
    margin-top: 10px;
  }
}
.cid-tBofKABF7L .col-list {
  width: 1px;
  flex-grow: 1;
  padding: 0 0 0 100px !important;
}
@media (max-width: 1024px) {
  .cid-tBofKABF7L .col-list {
    padding: 0 0 0 20px !important;
  }
}
@media (max-width: 991px) {
  .cid-tBofKABF7L .col-list {
    width: 100%;
    padding: 0 !important;
  }
}
.cid-tBofKABF7L .mbr-iconfont {
  position: relative;
  font-size: 16px !important;
  font-family: 'Moririse2' !important;
  font-weight: 900;
  color: #a6b1d8;
  margin-left: 0.5rem;
}
.cid-tBofKABF7L .sign-open {
  display: none;
  font-size: 16px !important;
  margin-left: 0.5rem;
  color: #a6b1d8;
  font-weight: 900;
}
.cid-tBofKABF7L .panel-group {
  border: none;
}
.cid-tBofKABF7L .card {
  padding: 10px 10px 10px 0;
  border-radius: 0;
  border-top: 2px solid #131313;
}
.cid-tBofKABF7L .card-header {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tBofKABF7L .card-header:hover .mbr-iconfont {
  transform: rotate(180deg);
}
.cid-tBofKABF7L .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  color: #131313;
  transition: .2s all;
}
.cid-tBofKABF7L .panel-title[aria-expanded="true"] .mbr-iconfont {
  display: none;
}
.cid-tBofKABF7L .panel-title[aria-expanded="true"] .sign-open {
  display: block;
}
.cid-tBofKABF7L .panel-title-edit {
  color: #131313;
}
.cid-tBofKABF7L .panel-body {
  padding: 0 0 20px;
}
.cid-tBofKABF7L .panel-text {
  color: #131313;
  margin: 0;
}
.cid-tBoeDn57Kr {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #a6b1d8;
  overflow: hidden;
}
.cid-tBoeDn57Kr .mbr-text {
  color: #131313;
}
