css/styles.css

/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Literata', 'Arial', serif;
	line-height: 1.6;
	background-color: #e9d7c9;
}



/* Navigation Menu Styles */
.nav-menu-container {
	padding: 20px 0px;
}
.navbar {
	display: block;
	color: #062b23;
}

.navbar > .container-fluid {
	display: block;
}
.navbar .nav-item {
	margin-bottom: 5px;
}

.navbar .nav-item a {
	text-decoration: none;
	color: #062b23;
	display: block;
	font-size: 18px;
	padding: 0px !important;
}

.nav-menu-site-title {
	font-weight: 700;
	line-height: 1.388888889;
	font-size: 15px;
	text-decoration: none;
	color: inherit;
}

.nav-menu-site-title:hover, .navbar .nav-item a:hover {
	text-decoration: underline;
}


/* Content Styles */
.content {
	padding: 20px;
	transition: margin-left 0.3s ease;
}

.section-content__heading-title {
	font-weight: bold;
	font-size: 30px;
}

.section-content {
	margin: 0 auto;
}

.section-content__body {
	padding-top: 60px;
}

/* Block Content */
.block-content-media {
	padding-bottom: 25px;

	box-sizing: border-box;
	direction: ltr;
	display: grid;
	grid-template-columns: 15% auto;
	grid-template-rows: auto;
}

.block-content-media__media {
	grid-column: 1;
	grid-row: 1;
	margin: 
}


.block-content-media__text {
	direction: ltr;
	grid-column: 2;
	grid-row: 1;
	padding: 0 8%;
	word-break: break-word;
	align-self: center;
}

.block-content-media__text-inner {
	
	display: flex;
}


.block-content-media__media img {
	height: auto;
	max-width: unset;
	vertical-align: middle;
	width: 100%
}

.block-content-text {
	padding-bottom: 30px;
}

.block-content-text__heading {
	font-size: 18px;
	font-weight: bold;
}

.block-content-text__content {
	padding-top: 15px;
}

/* Footer Styles */
footer {
	color: #062b23;
	text-align: center;
	padding: 10px 0;
	bottom: 0;
	width: 100%;
}


/* Responsive Container Styles */
@media (min-width: 992px) {
	.main-container {
		display: flex;
	}


	.navbar {
		position: fixed;
	}

	.navbar-expand-lg .navbar-nav {
		flex-direction: column;
	}
	
	.navbar-expand-lg .navbar-collapse {
		display: block !important;
	}
	
}